@import url(reset.css);
html, body {
  height: 100%; }

#container {
  width: 100%;
  height: 100%; }

#contents {
  height: 100%; }

#leftPane {
  overflow-x: hidden;
  overflow-y: scroll;
  float: left;
  width: 250px;
  height: 100%;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-right: black solid 3px; }
  #leftPane .listItem {
    overflow: hidden;
    border-bottom: black solid 1px; }
    #leftPane .listItem:hover {
      background-color: lightgray; }
    #leftPane .listItem .clientName {
      float: left;
      width: 93%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    #leftPane .listItem .addOrRemoveButton {
      float: left;
      font-weight: bold;
      font-family: monospace;
      font-size: 18px; }

#rightPane {
  height: 100%;
  margin-left: 250px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px; }
  #rightPane #canvasPane {
    height: 70%;
    margin: 0px;
    margin-bottom: -3px;
    border-bottom: black solid 3px;
    overflow: hidden; }
  #rightPane #messageListPane {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 30%;
    margin: 0px; }
