@import url(reset.css);
html, body {
  height: 100%; }

#container {
  width: 100%;
  height: 100%; }

#contents {
  height: 100%; }

.divList .divListItem {
  overflow: hidden;
  border-bottom: black solid 1px; }
  .divList .divListItem:hover {
    background-color: lightgray; }

#leftPane {
  overflow-x: hidden;
  overflow-y: scroll;
  float: left;
  width: 250px;
  height: 100%;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-right: black solid 3px; }

.clientName {
  float: left;
  width: 93%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.addOrRemoveButton {
  float: left;
  font-weight: bold;
  font-family: monospace;
  font-size: 18px;
  color: green; }

.removeMinusSign {
  color: red; }

#rightPane {
  height: 100%;
  margin-left: 250px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px; }

#messagePane {
  height: 29%;
  margin: 0px; }
  #messagePane #messageListControls {
    font-family: sans-serif;
    margin-top: 3px;
    margin-bottom: 0px;
    border-bottom: black solid 1px;
    padding-bottom: 0px; }
    #messagePane #messageListControls li {
      cursor: pointer; }
    #messagePane #messageListControls #updateMessages {
      display: inline;
      list-style-type: none;
      padding-right: 10px;
      padding-left: 10px;
      background-color: black;
      color: white; }
      #messagePane #messageListControls #updateMessages:hover {
        background-color: gray; }
  #messagePane #messageList {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 88%; }

#canvasPane {
  height: 70%;
  margin: 0px;
  margin-bottom: -3px;
  border-bottom: black solid 3px;
  overflow: hidden; }
