!!!
%html
  %head
    %title dbustop
    %script{ :type => "text/javascript", :src => "jquery-1.4.2.min.js" }
    %script{ :type => "text/javascript", :src => "dbustop.js" }
    :javascript
        $(document).ready(function() {
             // Your code here
        });

  %body
    hello world
