!!!
%html
  %head
    %title dbustop
    %link{ :rel => "stylesheet", :type => "text/css", :href=> "css/screen.css" }
    %script{ :type => "text/javascript", :src => "js/jquery-1.4.2.min.js" }
    %script{ :type => "text/javascript", :src => "js/dbustop.js" }
    -#%script{ :type => "text/javascript", :src => "js/processing-0.9.4.min.js" }
    :javascript
        $(document).ready(function() {
             initCanvas();
             getRemoteBusNameList('session');
             getRemoteMessages();
        });
  %body
    #container
      #contents
        #leftPane
          #busNameList
        #rightPane
          #canvasPane
            %canvas#canvas
              Canvas not supported
          #messageListPane
            messageList
