!!!
%html
  %head
    %title dbustop
    %link{ :rel => "stylesheet", :type => "text/css", :href=> "css/screen.css" }
    %script{ :type => "text/javascript", :src => "js/jquery-1.4.2.min.js" }
    %script{ :type => "text/javascript", :src => "js/dbustop.js" }
    :javascript
        $(document).ready(function() {
             init();
             getRemoteBusNameList('session');
             //getRemoteMessages();
        });
  %body
    #container
      #contents
        -##log{:style => "border-bottom: black solid 1px; font-family: monospace; overflow: hidden;"}
          log
        #leftPane
          #busNameList
        #rightPane
          #canvasPane
            %canvas#canvas
              Canvas not supported
          #messagePane
            %ul#messageListControls
              %li#updateMessages Update
            #messageList

