@import reset.css

html, body
  height: 100%

#container
  width: 100%
  height: 100%

#contents
  height: 100%

.divList
  .divListItem
    overflow: hidden
    &:hover
      background-color: lightgray
    border:
      :bottom black solid 1px

!leftPaneWidth = 250px
#leftPane
  overflow-x: hidden
  overflow-y: scroll
  float: left
  width= !leftPaneWidth
  height: 100%
  margin:
    :left 0px
    :right 0px
    :top 0px
    :bottom 0px
  border:
    :right black solid 3px

.clientName
  float: left
  width: 93%
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.addOrRemoveButton
  float: left
  font-weight: bold
  font-family: monospace
  font-size: 18px
  color: green

.removeMinusSign
  color: red

#rightPane
  height: 100%
  margin:
    :left= !leftPaneWidth + 0px
    :right 0px
    :top 0px
    :bottom 0px

!messageListHeight = 30%
#messagePane
  height= !messageListHeight - 1
  margin: 0px

  #messageListControls
    font-family: sans-serif
    margin:
      :top 3px
      :bottom 0px
    border-bottom: black solid 1px
    padding:
      bottom: 0px

    li
      cursor: pointer

    #updateMessages
      display: inline
      list-style-type: none
      padding:
        :right 10px
        :left 10px
      background-color: black
      color: white
      &:hover
        background-color: gray

  #messageList
    overflow-x: hidden
    overflow-y: scroll
    height: 88%

#canvasPane
  height= 100 - !messageListHeight
  margin: 0px
  margin-bottom: -3px
  border:
    :bottom black solid 3px
  overflow: hidden
